# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local

# Static files
/static/
/staticfiles/

# Temporary files
*.bak
*.tmp
*~

# System files
.DS_Store
Thumbs.db

stpd.py